doctype html
html(lang='ru')
    head
        include sections/head
    body
        include sections/header
            include sections/nav
        include sections/hero
        include sections/footer 
        script(src="js/main.min.js")       